<div class="card">
    
    <div class="card-header">
        <div class="card-photo">
            <img width="105" src="assets/images/andresjosehr.png" alt="">
        </div>
    </div>

    <div class="card-body">
        <div class="card-title">
            <h1>Jose Andres</h1> <h2>25</h2>
        </div>
        <span>Venezuela</span>
    </div>

    <div class="divider"></div>

    <div class="card-footer">
        <div>
            <div class="number">5Y</div>
            <div class="description">Experience</div>
        </div>
        <div>
            <div class="number">1.4K</div>
            <div class="description">Photos</div>
        </div>
        <div>
            <div class="number">100%</div>
            <div class="description">Cool</div>
        </div>
    </div>

</div>